@charset "utf-8";


header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
div, header, nav, article, section, aside, footer, h1, h2, h3, h4, h5, h6, p, a, ul, li, figure, figcaption, class, img { 
	margin: 0;
	padding: 0;
}
*{
    box-sizing: border-box;
}
img, object, embed, canvas, video, audio, picture, svg {
	max-width: 100%;
	height: auto;
}
li {
    list-style-type: none;
}

input{
    border: 0;
    outline: none;
}

body {
    margin: 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.center {
    width: 70%;
    margin: 0 auto;
}
a {

  text-decoration: none; 
}


body {
    background-color: rgb(218, 224, 224);
    font-family: 'Roboto', sans-serif;
}
input[type="text"], p{
    
    margin-bottom:  1rem;
    padding: 0 1rem;
}
form.hello{
    padding: 2rem;
    margin: 10rem;
    background-color: antiquewhite;
    width: fit-content;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
form.hello input, p {
    line-height: 1.3rem;
    width: 250px;
    border-radius: 10px;
    
}
form.hello input {
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
p { 
    text-align: center;
    font-size: 1.2rem;
}
.btn {
    padding: 10px 20px;
    display: inline-flex;
  align-items: flex-end; 
  border: 1px solid red;
  border-radius: 5px;
}
.wrap {
    padding: 15px 30px;
}
form.index {
    margin: 10px;
    margin-top: 25px;
    padding: 25px;
    background-color: rgb(237, 239, 241);
    width: fit-content;
    
}
form.index input:first-of-type {
    line-height: 2rem;
    margin-bottom: 0;
}
form.index input:last-of-type {
    margin-left: 1rem;
}