<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrap flex">
        <a class="btn" href="hello">Hello page</a>
        <!-- <form class="index" >
            <p>Pokemon à chercher :</p>
            <input type="text" name="inputAPI">
            <input class="btn" type="submit" name="submitAPI">
        </form> -->
        <div class="flex">
            <p>Pokemon à chercher :</p>
            <textarea name="inputAPI" class="inputAPI"></textarea>
            <button class="btnAPI">SEND</button>
            <p>réponse : </p>
            <p class="repAPI"></p>
        </div>
        
    </div>
    <script src="{{url_for('static', filename='js/ajax.js')}}"></script>
</body>
</html>